@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Caveat:wght@400;500;600&display=swap');

$font-family-base: 'Asap', sans-serif;
$font-family-secondary: 'Caveat', cursive;

// secitons
$black: #000;
$white: #fff;
$blue: #1c2350;
$text: $blue;
$primary: $blue;
$pink: #ad5d81;
$dawn-pink: #f2ebe1;
$fade-blue: #586f7e;
$label: #636888;

$secondary: #3B6A7F;

$border-color: #ebeef3;
$red: #FF0000;
